/* CSS for text */
body {
    
    font-family: Arial, sans-serif;
    background-color: #111111;
    margin: 0;
    padding: 0px;
  }
  
  h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #dbdbdb;
    font-size: calc(2vw + 2vh);
  }
  
  h3, p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #bbbbbb;
    font-size: calc(1vw + 1vh);
  }

  h4, ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #bbbbbb;
    font-size: calc(0.8vw + 0.8vh);
  }
  
/* CSS for navbar*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures the navbar stays above other content */
}

.navbar ul{
  list-style-type: none;
  background-color: #bbbbbb;
  padding:0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: #555555;
}

.navbar li{
  float: left;
}

/* CSS for cards */
.card {
  display: flex;
  justify-content: space-between; /* Distribute space between text and image */
  align-items: center; /* Vertically center the text and image */
  max-width: 1200px; /* Element will never be wider than 1200px */
  width: 100%;       /* Width can shrink to fit smaller screens */
  margin: 20vh auto 20vh;    /* Center the element if its width is less than 1200px*/
  /* border: 10px solid #999999; */
  border-radius: 20px;
  gap: 20px;
  opacity: 0;
  transform: translateY(100);
  transition: 1s;
}

.card #Pic{
  max-width: 100%;
  max-height: 100%;
  margin-top: 5px;

}

.card #Projects{
  margin: 0vh auto 0vh;
}

.card.visible {
  transform: translateY(0);
  opacity: 1;
}

 #Greetings {
  text-align: center;
  margin-left: 10px;
  flex: 1 1 auto; 
  font-size: 2em;
  
}
#Pic {
  max-width: 100%; /* Ensure the image does not overflow its container */
  height: auto; /* Maintain the image's aspect ratio */
}

#About, #Experiences, #Projects{
  text-align: center;
  flex: 1 1 auto; 
  font-size: 2em;
}

#Experiences ul {
  text-align: left; /* Left-aligns the list items */
  padding-left: 20px; /* Adds some spacing from the left */
}

#Experiences ul li {
  list-style-position: inside; /* Ensures bullets are inside */
}

.project-card{
  max-width: 1200px; /* Element will never be wider than 1200px */
  width: 80%;       /* Width can shrink to fit smaller screens */
  margin: 4vh auto 4vh;    /* Center the element if its width is less than 1200px*/
  border: 10px solid #999999;
  border-radius: 20px;
  gap: 5px;
  opacity: 0;
  transform: translateX(100);
  transition: 1s;
}

.project-card.visible {
  transform: translateX(0);
  opacity: 1;
  text-align: left; /* Left-aligns the list items */
  padding-left: 20px; /* Adds some spacing from the left */
}

.project-card ul li{
  list-style-position: inside; /* Ensures bullets are inside */
}

.content_header { /* This class is used to style the header of each of the content sections, the outside container of the horizontal lines  */
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Center the items horizontally */
  gap: 10px; /* Adjust the gap between the elements as needed */
}

.inlineHr { /* This class is used to style the horizontal lines in the content header */
  display: inline-block;
  width: 10vw;
  border: 1px solid #ccc;
  margin: 0 10px;
}

/* Footer CSS */

/* All colors for SVG icons are done in the .svg files themselves */
footer{
  margin: 10vh;
}
footer h4{
  display: flex;
  justify-content: center;
}
.social-icons{
  display: flex;
  justify-content: center;
}
.social-icons img{
  width: 5vw;
  height: 5vh;

}

/* Testing new CSS for cards: */

.pseudoBody{
  /* height: 100vh; */
  background: linear-gradient(45def, #061de3, #e306ca);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(211,211,211);
  display: flex;
  justify-content: center; 
  align-items: center; /* aligning perpendicularly */
  flex-wrap: wrap; /* Allows multiple cards to be displayed in a row */
  gap: 2vw; /* Space between cards */
}
.container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 33vw;
  height: 48vw;
  perspective:500px; /* Perspective for 3D effect */
  flex: 1 1 calc((100% - 6vw)/3); /* Allows the card to grow and shrink */
  max-width: calc((100% - 6vw) / 3); /* Ensures the card doesn't exceed 1/3 of the container width */
}

/* For mobile devices */ 
@media (orientation: portrait) { image size for smaller screens */
  .pseudoBody{
    background: linear-gradient(45def, #061de3, #e306ca);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(211,211,211);
    display: flex;
    justify-content: center; 
    align-items: center; /* aligning perpendicularly */
    flex-wrap: wrap; /* Allows multiple cards to be displayed in a row */
    gap: 2vw; /* Space between cards */
  }
  .container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 90vw;
    height: 90vw;
    perspective:500px; /* Perspective for 3D effect */
    flex: 1 1 calc((100% - 10vw)); /* Allows the card to grow and shrink */
    max-width: calc((90vw)); /* Ensures the card doesn't exceed 1/3 of the container width */
  }

}

.card_content{
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1000ms; /* Smooth transition for the card flip  in 0.5 seconds*/
  transform-style: preserve-3d; /* Allows the back side to be visible when rotated */
}

.container:hover > .card_content{
  cursor: pointer;
  transform: rotateY(180deg)
}

.front, .back{
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
  position: absolute;
  backface-visibility: hidden; /* Hides the back side when not facing the screen, only works with 3D transformations such as rotateX/Y(degrees here) */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow: hidden; /* Hide any overflow content */
  padding: 0.5rem; /* Add padding to ensure content doesn't touch the edges */
}

.front{
  /* background-image: url('https://i.redd.it/zu5c3yc21kbb1.jpg'); */
  background-image: linear-gradient(45deg, #061de3, #e306ca);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically (main axis due to flex-direction)*/
  align-items: center; /* Center the content horizontally (cross axis due to flex-direction)*/
  gap: 5%;
}

.front h3{
  font-size: calc(2vw + 2vh);
  color: #dbdbdb;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.back{
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically (main axis due to flex-direction)*/
  align-items: center; /* Center the content horizontally (cross axis due to flex-direction)*/
  gap: 5%;
}

.back p, .front p{
  font-size: calc(1vw + 1vh);
  text-align: center;
  padding: 0 2rem;
  color: #dbdbdb;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.back li{
  font-size: calc(1vw + 1vh);
  padding: 0;
  margin: 0;
  text-align: left;
  color: #dbdbdb;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}